**1. Write a Python program to accept a string value from the user and display
the count of each character in that string.**

In [56]:
n=input("Enter the String: ")
s={}
for i in n:
    if i in s:
        s[i]+=1
    else:
        s[i]=1
print(s)

Enter the String: liberally
{'l': 3, 'i': 1, 'b': 1, 'e': 1, 'r': 1, 'a': 1, 'y': 1}

**2. Write a Python function to find the maximum of three numbers.**

In [24]:
list=[ 23,48,59,15]
max=0
i=0
for i in list:
  if i>max:
    max=i

print(max,"is the largest number")

59 is the largest number

**3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp.**

In [25]:
exponent=lambda base,exp:base**exp
exponent(5,3)

125

**4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.**

In [59]:
def sum_of_cubes(n):
  n=n-1
  total = 0
  while n > 0:
    total=total+ n * n * n
    n=n-1
  return total
print("Sum of cubes: ",sum_of_cubes(5))

Sum of cubes:  100

**5. Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.**

In [26]:
for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

**6. Write a Python program to find the most frequent item in a list of
numbers.**

In [31]:
def most_frequent_num(numbers):
  frequent_num=0
  highest_count=0
  for i in numbers:
    count=numbers.count(i)
    if count>highest_count:
      highest_count=count
      frequent_num=i
  return frequent_num

numbers=[1,3,2,5,6,3,7,3,6]
frequent_num=most_frequent_num(numbers)
print("Most frequent number in the list is",frequent_num)

Most frequent number in the list is 3

**7. Write a Python program to find the sum of squares of the numbers in a
list.**

In [44]:
def sum_squares(numbers):
  squares=[i**2 for i in numbers]
  return sum(squares)

numbers=[1,2,3,4]
total_sum=sum_squares(numbers)
print(total_sum)

30

**8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even.**

In [46]:
for i in range(1,16):
  if i%2==0:
    print(i,"- even")
  else:
    print(i,"- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

**9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit.**
[Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

In [50]:
def celsius_farenheit(celsius):
  return (celsius*9/5)+32

def farenheit_celsius(farenheit):
  return (farenheit-32)*5/9

celsius_temp=20
farenheit_temp=68

print("Temperature in celsius",celsius_farenheit(celsius_temp))
print("Temperature in farenheit",farenheit_celsius(farenheit_temp))

Temperature in celsius 68.0
Temperature in farenheit 20.0

**10. Write a Python function to calculate the factorial of a number (a
non negative integer).**

In [53]:
def factorial(n):
  if n<=1:
    return 1
  else:
    return n*factorial(n-1)

print(factorial(6))

720